:root {
  /* Color palette */
  /* --backgroundColor: rgb(94, 93, 93); */
  --bodyBackground: rgb(5, 47, 115);
  --bodyForeground: rgb(79, 151, 223);
  --bodyAccent: rgb(0, 55, 133);

  /* Common styling dimensions */
  --smallRadius: 15px;
  --largeRadius: 50px;
}

/* Setting responsive font sizes for key text elements on large screens*/
p {
  font-size: 2.4vw;
}

a {
  font-size: 2.5vw;
}

h1 {
  font-size: 8vw;
}

h2 {
  font-size: 4vw;
}

h3 {
  font-size: 2.8vw;
}

a {
  color: white;
}

body {
  /* display: flex; */
  height: 100%;
  background-color: var(--bodyBackground);
}

/* Basic flow formatting */

.row {
  display: flex;
  flex-flow: row nowrap;
}

.rowWrap {
  display: flex;
  flex-flow: row wrap;
}

.column {
  display: flex;
  flex-flow: column nowrap;
  align-items: center;
}

.floatRight {
  clear: both;
  float: right;
}

/* Header + nav formatting */

header {
  /* display: flex; */
  justify-content: center;
  /* justify-items: flex-start; */
  /* align-items: center; */
  align-content: center;
  background-color: var(--bodyAccent);
  height: fit-content;
  min-height: 200px;
  padding: 20px;
  margin: 20px auto;
  width: 90%;
  /* justify-self: center; */
}

header h1 {
  position: relative;
  display: inline-block;
  /* align-items: center; */
  /* font-size: 8vw; */
  /* top: 17%; */
  /* left: 5%; */
  color: white;
  text-align: center;
  margin: 10px;
  /* width: fit-content; */
  /* margin-left: 30px; */
}

nav {
  display: flex;
  justify-content: center;
  flex-flow: row wrap;
  /* align-content: center;
  align-items: center; */
  /* line-height: 1; */
  /* justify-content: flex-end; */
  /* position: relative;
    top: -6px; */
  /* background-color: darkgoldenrod; */
  /* float: right; */
  /* padding-top: 10px; */
  /* font-size: 2.5vw; */
  /* margin-right: 20px; */
  /* margin: 10px; */
  max-height: 12vh;
}

nav a {
  position: relative;
  /* right: 30%; */
  margin: 15px;
  text-align: center;
}

/* Hero image formatting */

.hero {
  display: block;
  height: 30%;
  width: 90%;
  background-image: url("../images/hero.png");
  background-size: cover;
  background-position: center;
  background-color: aqua;
  border-radius: 20px;
  box-shadow: 0 0 10px 10px var(--bodyBackground) inset;
  alt: ""; /*Decorative image - intentionally no alt text*/
  margin: 0 auto;
}

/* Main formatting */

main {
  /* background-color: rgb(80, 80, 80); */

  width: 100%;
  justify-content: space-around;
  /* border: 2px solid black; */
}

main > section {
  /* border: 2px black solid; */
  margin: 10px;
  /* filter: grayscale(20%); */
}

main section:focus {
  /* border: 2px black solid; */
  margin: 10px;
  /* filter: grayscale(0%) */
}

section article {
  background-color: gray;
  position: relative;
  /* border: 2px dashed black; */
  border-radius: var(--largeRadius);
  width: 98%;
  margin-top: 60px;
  padding: var(--largeRadius);
  padding-top: 4vh;
  flex-flow: row wrap;
  justify-content: space-evenly;
  background-color: var(--bodyForeground);
}

#profilePhoto {
  width: 45%;
  height: auto;
  /* max-height: 500px; */
  margin-left: 40px;
  border-radius: 15px;
}

#aboutMeContent {
  position: relative;
  justify-content: center;
  align-items: center;
  /* font-size: 2vw; */
  font-weight: bold;
  z-index: 2;
}

#infoContainer {
  width: 80%;
}

.labelIcon {
  position: relative;
  text-align: center;
  color: white;
  border-radius: var(--smallRadius);
  /* border: 2px solid black; */
  /* margin-bottom: 0; */
  width: 40%;
  filter: grayscale(40%);
}


/* Makes the first project of each grouping large */
#project1,
#project5 {
  width: 87%;
}

.labelIcon h3 {
  position: absolute;
  top: 50%;
  left: 50%;
  /* font-size: 2vw; */
  font-weight: bolder;
  transform: translate(-50%, -50%);
  text-shadow: -1px 1px 5px black, -1px 1px 10px black, -1px 1px 15px black;
}

.labelIcon img {
  border-radius: var(--smallRadius);
  height: 100%;
  width: 100%;
}

.labelIcon:hover {
  box-shadow: var(--smallRadius) var(--smallRadius) 10px 0 rgb(98, 98, 98);
  transition: all 0.15s ease-in-out;
  filter: none;
}

.titleCard {
  position: absolute;
  background-color: gray;
  color: white;
  top: -25px;
  left: 10%;
  align-self: flex-start;
  padding: 5px;
  /* align-items: flex-start; */
  /* justify-self: flex-start; */
  border-radius: var(--smallRadius);
  background-color: var(--bodyForeground);
  width: fit-content;
  text-align: center;
  /* margin-bottom: 20px; */
}

/* Aside formatting */

aside {
  display: flex;
  flex-flow: column nowrap;
  align-items: center;

  position: relative;
  background-color: aqua;
  width: 20%;
  margin: 20px;
  margin-right: 40px;
  /* height: 100%; */
  padding: 20px;
  /* padding-top: 25px; */
  /* margin-right: 20px;
    margin-top: -50px */
  border: 2px dashed black;
  border-radius: var(--largeRadius);
  /* align-items: stretch; */
  /* flex-grow: 2; */
}

.fullstackSection > section,
.chemengSection > section {
  margin: 5px;
}

/* Footer formatting */

footer {
  background-color: var(--bodyAccent);
  display: flex;
  justify-content: center;
  padding: 20px;
  color: white;
}

/* Screen size adjustments */

/* Large screens and above*/
@media screen and (max-width: 1000px) {

    p {
        font-size: 20px;
      }
      
      a {
        font-size: 25px;
      }
      
      h1 {
        font-size: 90px;
      }
      
      h2 {
        font-size: 35px;
      }
      
      h3 {
        font-size: 20px;
      }

      

}

/* medium screens */
@media screen and (max-width: 800px) { 
    p {
      font-size: 16px;
    }
    
    a {
      font-size: 25px;
    }
    
    h1 {
      font-size: 70px;
    }
    
    h2 {
      font-size: 30px;
    }
    
    h3 {
      font-size: 20px;
    }

}
  

/* Extra small screens */
@media screen and (max-width: 600px) {

  p {
    font-size: 16px;
  }
  
  a {
    font-size: 16px;
  }
  
  h1 {
    font-size: 50px;
  }
  
  h2 {
    font-size: 30px;
  }
  
  h3 {
    font-size: 20px;
  }

  nav a{
    margin: 10px;
  }

  #profilePhoto {
    width: 60%;
    margin-left: 20px;
  }

  section article {
    width: 95%;
  }

}
